.container {
	padding-bottom: 75px;
	margin-top: 25px;
}

.list-group.num {
	margin: auto;
	display: block;
	text-align: center;
}

.valor {
	-webkit-transition: background-color 500ms ease-out 1s;
	-moz-transition: background-color 500ms ease-out 1s;
	-o-transition: background-color 500ms ease-out 1s;
	transition: background-color 500ms ease-out 1s;
	border-radius: 50% !important;
	border: 1px solid green;
	color: green;
	display: inline-block;
	font-size: 3em;
	font-weight: bold;
	line-height: initial;
	margin: 5px;
	padding: 16px;
	text-align: center;
}

.valor.anterior {
	background: blue;
	color: white;
}

.valor.actual {
	background: red;
	color: white;
	border-color: red;
}
